body {
    background-color: blue;

}

.image {
    margin-top: 300px;

    height: 50vh;
    width: 40vw;
}

.text {
    margin: 50px 50px 50px 50px;
    font-family: "Prata";
    font-weight: bold;
    font-size: 50px;
}
.main-body {
    position: absolute;
}

.buttons{
    z-index: 2;
    position: absolute;
    top: 50%;
}

.next-page {
    z-index: 2;

    position: absolute;
    top: 50%;
    left: 98%;
}
.previous-page {
    z-index: 2;
    text-align: left;
    position: absolute;
    top: 50%;
}